[builder]
# git_dir: Dir we will checkout git projects to, will be created if it doesnt exist
git_dir=/home/ec2-user/git
# repo_dir: Dir to serve yum repos through httpd
repo_dir=/var/www/html/pub/el6/x86_64

[projects]
# These are the git projects we will build and include their 
# built RPMs in the yum repo under 'repo_dir'
# Below should be in format of: git_project_name=public_git_url
# an optional branch may be specified by:
#  git_project_name=public_git_url,branch
#
pulp=https://github.com/splice/pulp.git,rhui
gofer=https://github.com/splice/gofer.git,rhui
grinder=https://git.fedorahosted.org/git/grinder.git,rhui

[third_party_deps]
# Each entry below corresponds to a directory of RPMs 
# we will copy over into 'repo_dir' before we run createrepo
# This is intended for 3rd party RPM packages that don't change often,
# such as packages we have under the "dep" directory in our git projects
rhui-rpm-deps=/home/ec2-user/rpm-deps/el6/x86_64

[scls]
#project_name:ruby193
